@import "../../../styles/constants.css";

.container {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--brandColor-lightGray);
}

.title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: var(--brandFont-arvo);
}

.categories {
	font-size: 18px;
	font-weight: bold;
	font-family: var(--brandFont-arial);
	margin-bottom: 20px;
}

.content {
	font-size: 16px;
}